.project_detail {
  background-image: url('../assets/homePageBackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  color: #fff;
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 11rem; 
}

.project_detail_contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 15px;
  background: linear-gradient(264.28deg, #512f80 -38.2%, #070a29 103.12%);
}

.back_button {
  background: linear-gradient(264.28deg, #512f80 -38.2%, #070a29 103.12%);
  color: #fff;
  padding: 0.5rem 2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  margin-bottom: 3rem;
  position: relative;
  border: 1px solid #A83279;
  outline: 2px solid #D38312;
  outline-offset: 4px;
}

.back_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
  transition: left 0.5s ease-in-out;
}

.back_button:hover::after {
  left: 150%;
}

.back_button:hover {
  transform: scale(1.05);
}

.project_detail_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 40%;
  font-family: 'Exo 2';
  font-weight: 500;
  margin-top: 0;
  padding: 1.5rem;
  color: #D38312;
  font-size: 1.3rem;
  text-decoration: underline;
}

.project_links {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.project_links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, text-decoration 0.3s ease;
}

.project_links a:hover {
  text-decoration: underline;
  color: #D38312;
  transform: scale(1.2);
}

.project_description {
  text-align: center;
  width: 80%;
  margin-top: 1.5rem;
}

.project_description h2 {
  font-size: 1.2rem;
  font-family: 'Exo 2';
  color: #D38312;
}

.project_description p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #fff;
}

.project_detail_contain h3 {
  color: #D38312;
  font-size: 1.2rem;
  font-family: 'Exo 2';
}

.technologies_list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row; 
  margin-top: 1rem;
  padding: 0px;
}

.technologies_list li {
  list-style: none;
}

.technologies_list li img {
  width: 90px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
}

.project_image {
  width: 70%;
  height: auto;
  border-radius: 20px;
  margin-top: 2rem;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .project_detail {
    margin-left: 0px;
    margin-top: 60px;
    padding: 0;
  } 

  .project_detail_contain {
    width: 80%;
  }

  .back_button {
    padding: 0.1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1.9rem;
  }

  .project_detail_title {
    font-size: 1rem;
    padding: 0.3rem;
    width: 100%;
  }
  
  .project_links a {
    font-size: 0.85rem;
  }

  .project_links a svg {
    width: 16px;
    height: 16px;
  }

  .project_description {
    margin-top: 0.85rem;
  }

  .project_description h2  {
    font-size: 1rem;
  }

  .project_description p{
    font-size: 0.85rem;
  }

  .project_detail_contain h3 {
    font-size: 1rem;
  }

  .technologies_list{
    flex-wrap: wrap;
  }

  .technologies_list li img {
    width: 60px;
    min-height: 30px;
    max-height: 30px;
  }

  .project_image{
    width: 90%;
  }
}

@media (max-width: 768px) {

  .project_detail_contain {
    width: 90%;
  }

  .project_detail_title {
    font-size: 0.80rem;
  }
  
  .project_links a {
    font-size: 0.75rem;
  }

  .project_links a svg {
    width: 12px;
    height: 12px;
  }

  .project_description {
    margin-top: 0.7rem;
  }

  .project_description h2  {
    font-size: 0.85rem;
  }

  .project_description p{
    font-size: 0.75rem;
  }

  .project_detail_contain h3 {
    font-size: 0.85rem;
  }

  .technologies_list li img {
    width: 45px;
    min-height: 20px;
    max-height: 20px;
  }

  .project_image{
    width: 95%;
  }
}
